.faq {
  margin-top: 80px;

  &__title {
    max-width: 289px;
    margin: 0px auto;
    text-align: center;
    font-family: "Raleway-Bold";
    font-size: 24px;
    line-height: 28.18px;
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;

    &__item {
      padding: 20px;
      @include wrapper-item;

      &.active .faq-block__text {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
      &.active .faq-block__arrow {
        transform: rotate(180deg);
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      max-width: 260px;
      font-family: "Raleway-Bold";
      font-size: 20px;
    }

    &__arrow {
      width: 20px;
      height: 20px;
      transition: all .3s ease-in-out;
    }

    &__text{
      display: none;
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      padding-top: 12px;
      font-size: 14px;
      line-height: 18.2px;
    }
  }
}