.information {
  margin-top: 80px;

  &-block {

    &__item {
      @include flex-column;
      gap: 24px;
    }

    &__title {
      position: relative;
      max-width: 320px;
	    font-family: "Raleway-Bold";
      font-size: 40px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -23px;
        width: 172px;
        height: 172px;
        border-radius: 50%;
        filter: blur(172px);
        background: rgba(80, 56, 194, 0.7);
      }
    }

    &__description {
      display: inline-block;
      max-width: 276px;
      margin-top: 8px;
      font-family: "Raleway-Bold";
      font-size: 19px;
    }

    &__text {
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  &-wrapper {
    position: relative;
    margin-top: 32px;

    &__img {
      object-fit: cover;

      &:nth-child(1) {
        position: absolute;
        top: -9px;
        left: 9px;
        width: 114px;
        height: 114px;
      }

      &:nth-child(2) {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }
}