.information {
  margin-top: 80px;

  &-block {

    &__item {
      @include flex-column;
      align-items: center;
      gap: 24px;
    }

    &__title {
      max-width: 320px;
	    font-family: "Raleway-Bold";
      font-size: 40px;
    }

    &__description {
      display: inline-block;
      max-width: 276px;
      margin-top: 8px;
      font-family: "Raleway-Bold";
      font-size: 19px;
    }

    &__text {
      max-width: 320px;
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  &-wrapper {
    position: relative;
    margin-top: 32px;

    &__img {
      object-fit: cover;

      &:nth-child(1) {
        position: absolute;
        top: -9px;
        left: 9px;
        width: 114px;
        height: 114px;
      }

      &:nth-child(2) {
        max-width: 100%;
        width: 360px;
        height: 308px;
      }
    }
  }
}