.instructions {
  margin-top: 80px;

  &-title {
    max-width: 316px;
    font-family: "Raleway-Bold";
    font-size: 28px;
  }

  &-block {
    @include flex-column;
    gap: 8px;
    margin-top: 32px;

    &__wrapper {
      @include flex-column;
      width: 100%;
      padding: 20px;
      gap: 10px;
      @include wrapper-item;
    }

    &__title {
	    font-family: "Raleway-Bold";
      font-size: 20px;
    }

    &__description {
      font-size: 14px;
      line-height: 18.2px;    
    }    
  }
}