.rates {
  margin-top: 222px;

  &-block {
    @include flex-column;

    &__title {
      position: relative;
      width: max-content;
      transform: rotate(5.1deg);
      margin-left: 48px;
      margin-bottom: 50px;
      padding: 8px 24px 8px 54px;
      border-radius: 70px;
      font-family: "Raleway-Bold";
      font-size: 2.5rem; 
      background: linear-gradient(103deg, #5038C2 -12.79%, #AC5CD5 144.13%);
      color: #FFFFFF;
      z-index: -1;
    }

    &__wrapper-img {
      position: absolute; 
      top: 50%; 
      left: -58px; 
      transform: translateY(-50%) rotate(-5.1deg);
    }

    &__img {
      width: 125px;
      height: 125px;
    }

    &__text {
      margin-top: -15px;
      padding-left: 8px;
      font-family: "Raleway-Bold";
      font-size: 2rem;
    }
    
    &__description {
      max-width: 320px;
      margin: 8px 0px 0px 8px;
      font-weight: 400;
      font-size: 0.875rem; /* 14px в rem */
      line-height: 1.138em; /* 18.2px в em */
    }
  }

  &-items {
    margin-top: 32px;
    @include flex-column;
    gap: 8px;

    &__wrapper {
      padding: 20px;
      @include wrapper-item;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Raleway-Bold";
      font-size: 1.5rem; 
      background: $allGradient;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      mask-image: $allGradient;

      &-emoji {
        color: red;
      }
      .real-price {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-left: auto;
        font-family: "Raleway-Bold";
        font-size: 1.25rem; 
        color: #000000;
      }

      .discount-price {
	      font-family: "Raleway-Regular";
        font-weight: 400;
        font-size: 0.875rem;
        text-decoration-line: line-through;
      }
    }

    &__text {
      margin: 10px 0px 0px 7px;
      font-size: 14px;

      &-part { 
        display: block;
        margin-top: 32px;

        .star-symbol {
          font-weight: 900;
          font-size: 0.875rem; 
          background: $allGradient;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          mask-image: $allGradient;
        }
      }
    }
  }

  .main-btn {
    width: max-content;
    margin: 2rem auto 0;
  }
}