.rates {
  margin-top: 211px;

  &-block {
    @include flex-column;
    align-items: center;
    text-align: left;

    &__title {
      position: relative;
      transform: rotate(5.1deg);
      margin-block: 50px;
      padding: 8px 24px 8px 54px;
      border-radius: 70px;
      font-family: "Raleway-Bold";
      font-size: 40px;
      background: $allGradient;
      color: #FFFFFF;
      z-index: -1;
    }

    &__wrapper-img {
      position: absolute; 
      top: 50%; 
      left: -58px; 
      transform: translateY(-50%) rotate(-5.1deg);
    }

    &__img {
      width: 125px;
      height: 125px;
    }

    &__text {
      margin-top: -15px;
      font-family: "Raleway-Bold";
      font-size: 32px;
    }
    
    &__description {
      max-width: 320px;
      margin: 8px 0px 0px 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  &-items {
    margin-top: 32px;
    @include flex-column;
    gap: 8px;

    &__wrapper {
      padding: 20px;
      @include wrapper-item;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Raleway-Bold";
      font-size: 24px;
      background: $allGradient;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      mask-image: $allGradient;

      &-emoji {
        color: red;
      }
      .real-price {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-left: auto;
        font-family: "Raleway-Bold";
        font-size: 20px;
        color: #000000;
      }

      .discount-price {
	      font-family: "Raleway-Regular";
        font-weight: 400;
        font-size: 14px;
        text-decoration-line: line-through;
      }
    }

    &__text {
      margin: 10px 0px 0px 7px;
      font-size: 14px;

      &-part { 
        display: block;
        margin-top: 32px;

        .star-symbol {
          font-weight: 900;
          font-size: 14px;
          background: $allGradient;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          mask-image: $allGradient;
        }
      }
    }
  }

  .main-btn {
    width: max-content;
    margin: 32px auto 0px;
  }
}