*,  ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 16px;
  color: #000000;
  background: #FFFFFF;

  &.lock {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

$light-grey-bg: #EDF1F6;

$allGradient: linear-gradient(103deg, #5038C2 -12.79%, #AC5CD5 144.13%);

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin wrapper-item {
  border-radius: 16px;
  background: $light-grey-bg
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 170px;
	font-family: "Raleway-Bold";
  font-size: 18px;
  text-align: center;
  color: #FFF;
  background: $allGradient;
}

//modal window - start
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;   
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &:target {
      opacity: 1;
      visibility: visible;
  }

  &-window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 328px;
    width: 300px;
    border-radius: 24px;
    background: #EDF1F6;
    padding: 32px 20px;
    animation-name: animate;
    animation-duration: 0.8s;

    @keyframes animate {
        from {top:-100%; opacity:0}
        to {top:50%; opacity:1}
      }

    &__btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;

        &:hover {
            opacity: 1;
        }
    }

    &__title {
      margin-bottom: 8px;
      font-family: "Raleway-Bold";
      font-size: 32px;
      text-align: center;
    }

    &__description {
      margin-bottom: 32px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18.2px;
      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-input {
        margin-bottom: 16px;
        padding: 16px 20px;
        font-weight: 400;
        font-size: 14px;
        border: none;
        border-radius: 32px;
        border: 1px solid #E1E1E1;
        background: var(--White, #FFF);
        outline: none;
      }

      button {
        margin: 32px auto 0px;
        border: 0px;
      }
    }

    &__radio-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
  
      & input[type="radio"] {
        display: none;
      } 

      & label {
        position: relative;
        padding-left: 27px;
        font-weight: 400;
        font-size: 14px;
      }
      & label::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        padding: 2px 9px;
        border-radius: 50%;
        background: #FFFFFF;
        border: 1px solid #E1E1E1;
        cursor: pointer;
      }

      & input[type="radio"]:checked+label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background: $allGradient;
        border-radius: 50%;
        z-index: 10;
      }
    }
  }

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: rgba(0, 0, 0, 0.50);
}

// modal window - end